* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  width: 40%;
  height: 95vh;
  margin: 5vh auto;
}

.profile p:last-child {
  height: 10px;
}

.inputags {
  width: 100%;
}

#save_form {
  width: 100%;
  text-align: center;
}

.inputags p {
  text-align: left;
  margin-left: 50px;
  margin-top: 6px;
}

.inputags input {
  width: 80%;
}

.user_profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile input[type=text],
[type=tel],
[type=date] {
  margin: 1%;
  padding: 1%;
  height: 5vh;
  border: 0.5px solid #04AA6D;
  border-radius: 0.2rem;
}

.profile input[type=file] {
  width: 0%;
  height: 0%;
  opacity: 0;
  margin: 0%;
  padding: 0%;
}

.profile input[type=submit] {
  width: 30vw;
  height: 5vh;
  margin-top: 5%;
  border: 1px solid #04AA6D;
  border-radius: 0.2rem;
  background: #04AA6D;
  color: #FFFFFF;
}

#bio {
  height: 4rem;
  width: 80%;
  resize: none;
  border: 0.5px solid #04AA6D;
}

@media (max-width:800px) {
  .profile {
    width: 99%;
  }
}