
.header{
  width: 100%;
  display: flex;
  flex-direction: row;
  place-content: space-between;
}

body{
  background-color: #f7f7f7;
}

.header > button {
  background-color: white;
  height: 30px;
  width: 100px;
  border-radius: 25rem;
  border-color: purple;
  border-width: 1px;
  color: purple;
  margin-top: 15px;
  margin-right: 15px;
}

.header > button:hover {
  cursor: pointer;
}


.header > p{
  padding-left: 20px;
  font-size: x-large;
  margin-top: 15px;
}

main{
  margin-top: 100px;
}

.containerx{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 100px;
}

.image-container > img{
  width: 600px;
}

.form-container{
  border: 1px solid;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  padding: 70px 50px 70px 50px;
  border-color: white;
  background-color: white;
  margin-right: 100px;
}

@media only screen and (max-width: 1104px) {
  .image-container{
    display: none;
  }
}


.phrase-container{
  display: flex;
  justify-content: center;
}

.phrase{
  font-size: x-large;
  text-align: center;
}

.login-form{
  display: flex;
  flex-direction: column;
  width: 400px;
}

.login-form > input{
  margin: 8px;
  border-radius: 1em;
  height: 35px;
  padding-left: 15px; 
}

.login-form > input[type=submit]{
  margin-top: 20px;
  border-radius: 25rem;
  height: 40px; 
  color: white;
  font-size: medium;
  background-color:rgb(112, 52, 228);
  padding-left: 0px;
}

.login-form > input[type=submit]:hover{
  cursor: pointer;
}

.forgot-text{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  text-decoration: none;
}

.forgot-text:hover{
  text-decoration: underline;
}