* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.grid-container {
    display: grid;
    background-color: rgba(241, 241, 241, 0.288);
    margin: 10px auto;
    height: auto;
    width: 60%;

    grid-template-columns: 3fr 7fr;
    grid-template-rows: repeat(4, minmax(50px, auto));
    border-radius: 24px;
    /* grid-gap: 10px; */
}

.profile-img {
    grid-row: span 3;
    /* background-color: whitesmoke; */
    text-align: center;
    align-self: center;
    /* margin-bottom: 24px; */
}

.profile-img img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.user {
    width: 100%;
    /* background-color: azure; */

    display: flex;
    align-items: center;
    padding-left: 8%;
}

.username {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
    margin-right: 8%;
}

.edit-button {
    width: 100px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
}

.edit-button:hover {
    background-color: rgba(24, 199, 12, 0.747);
    color: white;
}

.followers {
    width: 100%;
    /* max-height: 24px; */
    /* background-color: beige; */

    display: flex;
    align-items: center;
    padding-left: 8%;
}

.followers p {
    margin-right: 6%;
    font-weight: 800;
}

.description {
    width: 100%;
    /* height: auto; */
    /* background-color: cornflowerblue; */

    padding-left: 8%;
    padding-right: 4%;
    padding-bottom: 4%;
    padding-top: 1%;

    font-size: 18px;
    font-weight: 500;
}

.user-posts {
    width: 100%;
    /* background-color: rgb(48, 75, 99); */
    grid-column: span 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 4px solid rgba(223, 221, 221, 0.427);

    padding: 0px 4%;
}


.user-posts-title {
    border-bottom: 0.1px solid rgba(158, 158, 158, 0.6);
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 18px;
}

@media (max-width:800px) {
    .grid-container {
        width: 100%;
        grid-template-rows: repeat(4, minmax(40px, auto));
    }

    .profile-img {
        align-self: flex-start;
        margin-top: 1rem;
    }

    .profile-img img {
        width: 80px;
        height: 80px;
    }

    .user {
        padding-left: 4%;
    }

    .username {
        font-size: 24px;
    }

    .description {
        padding-left: 4%;
    }

    .edit-button {
        width: 75px;
    }
}