<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="p-4 bg-blue-200">
        <h2 class="text-center bg-blue-200 text-white">Admin Page</h2>
    </header>
    <main>
        <table class="w-full text-center table-fixed border-separate border-spacing-1">
            <tr class="bg-slate-300">
                <th>sr.no</th>
                <th>user id</th>
                <th>user name</th>
                <th>ban</th>
            </tr>
            <tr class="bg-slate-100 ">
                <td>1</td>
                <td>123</td>
                <td>sammy</td>
                <td><button class="border-2 w-28 h-8 bg-red-600 text-white hover:bg-red-500 rounded-md">Ban</button></td>
            </tr>
        </table>
    </main>
</body>
</html>