<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>B-itter -Its your Thoughts</title>
  <script src="https://kit.fontawesome.com/9ac9c74418.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="dashboard.css" />
</head>

<body>
  <header>
    <nav>
      <div class="navbar">
        <div class="navbar-logo">
          <h2>Logo</h2>
        </div>
        <div class="navbar-tabs">
          
          <div class="navbar-tabs-icon">
            <a href="#" class="navbar-icons"><i class="fa-solid fa-house"></i></a>
            <span>Home</span>
          </div>

          <div class="navbar-tabs-icon">
            <a href="#" class="navbar-icons"><i class="fa-regular fa-square-plus"></i></a>
            <span>Post</span>
          </div>
          
          <div class="navbar-tabs-icon">
            <a href="#" class="navbar-icons"><i class="fa-regular fa-bell"></i></a>
            <span>Notifcation</span>
          </div>

          <div class="navbar-tabs-icon">
            <a href="#" class="navbar-icons"><i class="fa-solid fa-paper-plane"></i></a>
            <span>Chat</span>
          </div>
        </div>

        <div class="navbar-search-bar">
          <input type="search" name="" id="">
        </div>

        <div class="navbar-button">
          <a href="#"> <i class="fa-solid fa-circle-user"></i>
            <div class="navbar-sub-buttons">
              <li><a href="#">Profile</a></li>
              <li><a href="#"><input type="button" value="Log out"></a></li>
              
            </div>
          </a>
          <!--  -->
        </div>
      </div>
    </nav>
  </header>

  <main></main>
</body>

</html>