<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/landing.css">
  <title>Bitter - Its your Thought </title>
</head>
<body>
  <header>
    <nav class="flex-row-jspcebtw-alicen">
      <h2 class="h2">Bitter </h2>
      <button class="button"><a class="a" href="/register">Sign up</a></button>
    </nav>
  </header>

  <main class="flex-row-cen-alicen">
    <a href="/login" class="a">Post your Thought</a>
  </main>

  <footer class="flex-row-cen-alicen">
    <h4>Bitter ©2022</h4>
    <div class="flex-row-cen-alicen">
      <p>About Us</p>
      <p>Contact Us</p>
    </div>
  </footer>
</body>
</html>