<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>B-itter -Its Your Thought</title>
  <link rel="stylesheet" href="../static/css/main.css">
  <script src="https://kit.fontawesome.com/9ac9c74418.js" crossorigin="anonymous"></script>
</head>

<body>

  <header>
    <nav>
      <div class="logo">
        <!-- <img src="" alt="">-->
        <h2>B-itter</h2>
      </div>

      <div class="navbar-tabs">
        <ul>
          <li> <a href="#"> <i class="fa-solid fa-house"></i></a>
            <span>Home</span>
          </li>
          <li> <a href="#"> <i class="fa-regular fa-square-plus"></i> </a>
            <span>Post</span>
          </li>
          <li> <a href="#"> <i class="fa-regular fa-comment"></i></a>
            <span>Chat</span>
          </li>
        </ul>
      </div>

      <div class="profile">
        <ul>
          <li class="profile-btn"> <a href="#"><i class="fa-regular fa-user"></i></a> <span>Profile</span></li>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
      </div>
      </ul>
    </nav>
  </header>

  <main>
    <div class="main_section">
      
      <div class="post_section">
        <div class="post_section_user_profile">
          <img src="" alt="">
          <!-- <i class="fa-light fa-user"></i> -->
          <button>Have a topic that excites you? Post about it</button>
          <div class="post_section_media_buttons">
            <button class="post_article">
              <!-- <i class="fa-duotone fa-image"></i> -->
              Article
            </button>
            <button class="post_image">
              Photo
            </button>
          </div>
        </div>
      </div>

    </div>
  </main>


  <footer></footer>
</body>

</html>