<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B-itter -Its Your Thought</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/post.css">
    <script src="https://kit.fontawesome.com/9ac9c74418.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

<header>
    <nav>
        <div class="logo">
            <h2>B-itter</h2>
        </div>

        <div class="navbar-tabs">
            <ul>
                <li><a id="homebtn" href="#"> <span class="material-icons">
                                home
                            </span></a>
                    <span>Home</span>
                </li>
            </ul>
        </div>

        <div class="dropdown">
            <button class="dropbtn"> <span class="material-icons">
                        person_outline
                    </span></button>
            <div class="dropdown-content">
                <a href="#" id="profile">Profile</a>
                <a href="#" id="logout">Logout</a>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="main_section">
        <div class="create_post_section">
            <div class="user_profile">
                <img src="" id="u_image" width="40vw" alt="" height="40vh">
                <input type="text" id="postcont" placeholder="Have a topic that excites you? Post about it">
                <!-- <i class="fa-light fa-user"></i> -->
                <!-- <button id="click_to_write">Have a topic that excites you? Post about it</button> -->
                <button class="post_article" id="postbtn">Post</button>
            </div>
        </div>
        <hr>
        <div id="post_section">

        </div>
    </div>
</main>


<footer></footer>
</body>

<script src="/static/js/main.js"></script>

</html>