<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>B-Itter</title>
</head>
<body>
    <form id="reg2_form">
            <label for="fname">First Name:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Last Name:</label><br>
            <input type="text" id="lname" name="lname"><br>
            <label for="age">age:</label><br>
            <input type="number" id="age" name="age"><br>
            <label for="gender">gender:</label><br>
            <input type="text" id="gender" name="gender"><br>
            <label for="mob">Mobile Number:</label><br>
            <input type="number" id="mob" name="mob"><br>
            <label for="dob">password:</label><br>
            <input type="date" id="dob" name="dob"><br>
            <input type="submit" value="continue">
          </form>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"> </script>
    <script src="/static/js/jquery.serializejson.js"></script>
	  <script src="/static/js/reg2.js"> </script>
</body>
</html>