<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/reg.css"/>
    <title>Sign Up</title>
</head>

<body>
<main>
    <div class="sign_container">
        <h2>Create an account</h2>

        <form id="reg_form">

            <!-- username -->
            <div class="box box1">
                <input type="text" name="uname" id="uname" placeholder="Enter Username"/>
            </div>

            <!-- email -->
            <div class="box box2">
                <input type="email" name="email" id="email" placeholder="Enter Email Address"/>
            </div>

            <!-- new_password -->
            <div class="box box3">
                <input type="password" name="passwd1" id="passwd1" placeholder="Enter New Password"/>
            </div>

            <!-- confirm_password -->
            <div class="box box4">
                <input type="password" name="passwd2" id="passwd2" placeholder="Confirm Password"/>
            </div>

            <!-- next button  -->
            <div class="box box5">
                <input type="submit" value="Register">
                <p id="error"></p>
            </div>
        </form>


    </div>
</main>

<script src="/static/js/reg.js"></script>
</body>

</html>