<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <title>Reset Password</title>
</head>

<body>
<main>

    <!-- box section  -->
    <div class="container">
        <h3>Reset Password</h3>

        <div class="box2">
            <label id="uname">{{uname}}</label>
        </div>
        <div class="box2">
            <label for="newpass1">Enter New password</label>
            <input type=password id="newpass1" name="newpass1">
        </div>
        <div class="box2">
            <label for="newpass2">Reenter new password</label>
            <input type=password id="newpass2" name="newpass2">
        </div>

        <div class="box2">
            <button id="resetButton">Submit</button>
        </div>
        <p id="error"></p>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/jquery.serializejson.js"></script>
<script src="/static/js/resetpass.js"></script>
</body>

</html>