<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/reset.css">
  <title>Reset Password</title>
</head>

<body>
  <main>

    <!-- box section  -->
    <div class="container">
      <form id="resetpass">
        <h3>Create new password</h3>

        <!-- username -->
        <div class="box1 box">
          <label for="uname">Username</label>
            <input type="text" name="uname" id="uname">
        </div>

        <!-- old Password -->
        <div class="box2 box">
          <label for="oldpass">Enter old Password</label>
          <input type="password" name="oldpass" id="oldpass">
          <!-- <span>Must be at least 8 characters </span><br> -->
        </div>

        <!-- new password  -->
        <div class="box3 box">
          <label for="newpass">New Password</label>
          <input type="password" name="newpass" id="newpass">
        </div>

        <!-- confirm password  -->
        <div class="box4 box">
          <label for="newpass2">Confirm Password</label>
          <input type="password" name="newpass2" id="newpass2">
        </div>
        <!-- check <button></button> -->
        <div class="box4 ">
          <input type="submit" value="Reset">
        </div>
        <p id="error"></p>

      </form>
    </div>
  </main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"> </script>
       <script src="/static/js/jquery.serializejson.js"></script>
	  <script src="/static/js/reset.js"> </script>
</body>

</html>