<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B-itter -Its Your Thought</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/post.css">
    <link rel="stylesheet" href="/static/css/profile.css">
    <script src="https://kit.fontawesome.com/9ac9c74418.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <header>
        <nav>
            <div class="logo">
                <h2>B-itter</h2>
            </div>

            <div class="navbar-tabs">
                <ul>
                    <li><a id="homebtn" href="#"> <span class="material-icons">
                                home
                            </span></a>
                        <span>Home</span>
                    </li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="dropbtn"> <span class="material-icons">
                        person_outline
                    </span></button>
                <div class="dropdown-content">
                    <a href="#" id="logout">Logout</a>
                </div>
            </div>
            </ul>
        </nav>
    </header>

    <main>
        <div class="grid-container">
            <div class="profile-img">
                <img src="" id="u_image">
            </div>
            <div class="user">
                <div class="username" id="uname">

                </div>
                <button class="edit-button" id="editprofile">
                    <!--TODO: change class -->
                    Edit Profile
                </button>
            </div>
            <!-- Can comment below div to remove the followers information-->
            <!-- <div class="followers">
                <p>10K Posts</p>
                <p>110M Followers</p>
                <p>1 Following</p>
            </div> -->
            <!-- User can write here description and by default it contains name of user-->
            <div class="description" id="fullname">

            </div>
            <div class="user-posts">

                <div class="user-posts-title">
                    Posts
                </div>
                <!-- From below posts start delete them they are static-->
                <div id="posts_section">

                </div>

            </div>
        </div>

    </main>


    <footer></footer>
</body>

<script src="/static/js/userprofile.js"></script>

</html>