{% extends 'base.html' %}

{% block body %}
{% include 'header.html' %}
<main>

    <div class="w-full flex flex-row">
    
        <div class="UsersSection md:pl-32 md:pr-48 lg:pl-64 lg:pr-80 mt-8 w-full" id="chat_list">

        </div>

        
        <div class="chat_window w-full">
                <input type="text" placeholder="text" id="msg">
                <button id="send">send</button>


                <div class="" id="msg_list">

                </div>
        </div>

    </div>
</main>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script src="/static/js/lodash.js"></script>


<script>
let messages = {}

async function getUsers(params) {
        const response = await fetch(`/api/search?user=`, {
        method: 'GET',
    }).then((response) => response.json())

    let status = response.status;
    if (status == "success") {
        document.getElementById("chat_list").innerHTML = "";
        let data = response.data;
        if (data.length > 0) {
            for (let i in data) {
                document.getElementById("chat_list").innerHTML += `
                        <a href="#" onclick="setChat(this)" class="flex mt-2 items-center bg-white p-6 rounded-lg shadow group-data-[checked=true]:bg-black group-data-[checked=true]:shadow-gray-400" id="${data[i]['uid']}" name="${data[i]["username"]}">
                            <div class="flex-shrink-0">
                            <img class="h-12 w-12 rounded-full" src='/image/${data[i]["uid"]}' alt="User Avatar">
                            </div>
                            <div class="ml-6">
                            <h2 class="font-bold text-lg group-data-[checked=true]:text-white">${data[i]["name"]}</h2>
                            <p class="text-gray-700 group-data-[checked=true]:text-gray-500">@${data[i]["username"]}</p>
                            </div>
                        </a>
                    `

            }
        }
        else {
            document.getElementById("user_section").innerHTML = "No users found";

        }
    }
    else {
        Snackbar.show({ pos: "bottom-center", text: response.status })
    }
    
}


let token =  {}
let to_user_id = ""
let to_uname = ""


cookieStore.get("token").then(t => {
    token = t
})

getUsers()

function get_messages() {
    socket.emit("get_messages",{token:token.value,to_user:to_user_id,limit:10,page:0})
}


const socket = io("/")

document.getElementById("send").addEventListener("click", () =>{
    let msg = document.getElementById("msg").value
    socket.emit("send_message",{token:token.value,message:msg,to_user:to_user_id })
})


function setChat(e) {
    to_user_id = e.id
    to_uname = e.name
    setInterval(get_messages,500)
    // get_messages()
}


socket.on("messages", function(data,user_id,room){
    if (_.isEqual(data,messages)){
        return
    }
    messages = data
    
    
    let msgs = document.getElementById("msg_list")
    msgs.innerHTML = ""

    for(i in messages){
        let msg = `
        <div class="">
            ${
                messages[i].sender ? 
                `<p>${localStorage.uname}:${messages[i].content}<p>`:
                    `<p>${to_uname}:${messages[i].content}<p>`
                    }
                    </div>
                    <br>
        `

        msgs.innerHTML += msg 
    }
})

</script>
</html>
{% endblock %}