{% extends 'base.html' %}

{% block body %}
{% include 'header.html' %}

<div class="my-10 mx-10 text-center group-data-[checked=true]:text-white">
    <p class="text-2xl">
        We have sent you a confirmation email, confirm your email to
        continue
    </p>
    <div class="mt-4 ">
        <label class="font-bold text-lg">Didn't get the email?
        </label>
        &MediumSpace;
        <a href="#" id="resend" class="text-lg underline underline-offset-1">
            click here
        </a>
    </div>
</div>
<script src="/static/js/resend.js"></script>

{% endblock %}