<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/static/css/reg.css" /> -->
    <link rel="stylesheet" type="text/css" href="/static/css/snackbar.css" />
    <script src="/static/js/snackbar.js"></script>
    <title>Sign Up</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body class="bg-[#f7f7f7] group data-[checked=true]:bg-[#101010]" data-checked="true" id="parent">
    <div class="header w-full flex flex-row place-content-between">
        <p class="pl-8 text-2xl font-medium mt-4 group-data-[checked=true]:text-white">
            Bitter
        </p>
        <label for="theme">
            <span id="theme_button"
                class="material-symbols-outlined pt-4 px-4 text-4xl group-data-[checked=true]:text-white select-none hover:cursor-pointer">
                dark_mode
            </span>
        </label>
        <input type="checkbox" id="theme" class="hidden">
    </div>

    <main>
        <div class="root flex flex-row justify-center lg:place-content-evenly mt-[100px]">
            <div
                class="form-container border rounded-[3rem] flex flex-col px-[50px] py-[70px] border-white bg-white group-data-[checked=true]:bg-black">
                <form id="reg_form"
                    class="flex flex-col w-[320px] lg:w-[400px] transition-[width] duration-500 group-data-[checked=true]:bg-black">
                    <div class="phrase-container flex justify-center">
                        <p class="phrase text-xl text-center group-data-[checked=true]:text-white">
                            Share your thoughts with people and connect to
                            them
                        </p>
                    </div>
                    <input
                        class="m-[8px]  rounded-lg h-12 pl-[15px] border-2 group-data-[checked=true]:bg-[#3b4148] group-data-[checked=true]:text-white"
                        type="email" name="email" placeholder="email" id="email" />
                    <input
                        class="m-[8px]  rounded-lg h-12 pl-[15px] border-2 group-data-[checked=true]:bg-[#3b4148] group-data-[checked=true]:text-white"
                        type="text" name="uname" placeholder="username" id="username" />
                    <input
                        class="m-[8px]  rounded-lg h-12 pl-[15px] border-2 group-data-[checked=true]:bg-[#3b4148] group-data-[checked=true]:text-white"
                        type="password" name="passwd1" placeholder="Password" id="passwd1" />
                    <input
                        class="m-[8px]  rounded-lg h-12 pl-[15px] border-2 group-data-[checked=true]:bg-[#3b4148] group-data-[checked=true]:text-white"
                        type="password" name="passwd2" placeholder="Reenter Password" id="passwd2" />
                    <input
                        class="mt-[20px] rounded-full h-[40px] text-white text-m bg-[#7034E4] hover:cursor-pointer disabled:bg-gray-900"
                        type="submit" name="reg" id="reg" value="Register" />
                    <a href="/"
                        class="flex justify-center mt-[30px] hover:underline underline-offset-1 group-data-[checked=true]:text-white">
                        Login instead?
                    </a>
                </form>
            </div>

            <div class="image-container hidden lg:block">
                <img src="/static/static_images/reg.png" alt="someimg" class="w-[600px] " />
            </div>
        </div>
    </main>

    <script src="/static/js/reg.js"></script>
    <script src="/static/js/theme.js"></script>
</body>

</html>